.tomate {
    background-color: rgb(11, 18, 116);
    color: rgb(23, 197, 228);
}

.pepino{
    color: red;
}


.probando{
    color: rgb(15, 196, 242);
    /* text-align: center; */
    display: flex;
    /* justify-content: center; */
    /* background-color: rgb(7, 23, 114); */
    padding: 6px;
    font-size: 13px;
}

.sandia{
   background-color: #000;
   color: red;
}